.align_footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  justify-content: center;
  flex-direction: column;
}
.align_footer p {
  margin: 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.align_footer a {
  color: white;
  text-decoration: none;
}
.align_footer a .icon_footer {
  font-size: 1.2rem;
}
.align_footer a:hover {
  color: rgba(255, 255, 255, 0.713);
}
